@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

/* o elemento: pega todos os h1 dentro de .ex24 */
.ex24 h1 {
  padding: 0;
  color: #222;
  font-size: 28px;
}
/* line-height é o espacamento entre linhas */
.ex24 p {
  color: #444;
  line-height: 1.6;
  text-align: justify;
  margin-bottom: 10px;
}
/* classe: .destaque */
.ex24 .destaque {
  background: yellow;
  padding: 5px;
}
/* id: #intro */
.ex24 #intro {
  border-left: 4px solid blue;
  padding-left: 10px;
}
